<div class="animated  fadeInRight">
  <div class="container">
    <div class="search-main-con">
      <div class="m_search w-100">
        <form action="#" method="post">
          <input type="text" name="search" id="search" placeholder="Shop, search users, and products">
          <span><a href="#" class="cancel-btn1">Cancel</a></span>
          <img src="/assets/h-search-btn.png" alt="">
        </form>
      </div>
    </div>
    <!--search-main-con end-->
  </div>
  <!--container end-->

  <div class="w-100">
    <div class="re-post-hd">
      Recent Searches
    </div>
    <!--re-post-hd end-->

    <div class="container">
      <div class="post-con">
        <a href="#">
          <div class="re-post">Trop Rouge</div>
        </a><!--re-post end-->
        <a href="#">
          <div class="re-post">claire Geist</div>
        </a><!--re-post end-->
        <a href="#">
          <div class="re-post">Atlantic -Pacific</div>
        </a><!--re-post end-->
      </div>
      <!--post-con end-->
    </div>
  </div>
  <!--w100 end-->
</div>