<div class="wrapp mrgtop30">
  <div class="w-100 mrg20">
    <div class="w_100 btnOut padbot100 mrgbot100">
      <div class="pricavy-policy-con">
        <div class="pri-hd">About Adoorn</div>
        <p>Adoorn is the ultimate way to shop, share your closet and create outfits from your phone. Our aim is to
          revolutionize the shopping experience by placing fashion culture in the palm of your hand. In the Adoorn
          community, you can organize your closet, learn about trends and find style inspiration with one click. Our
          priority is you, our user, and making sure you look and feel your absolute best. Shop it. Share it. Adoorn
          it!<br>
        </p>

        <div class="pri-hd">The Team</div>

        <p>
          Michelle Solomon, CEO & Founder.<br>
          Cassie Beth Friedman, Director of Operations & Co-Founder.<br>
          Natalia Risheq, Creative Director.<br>
          Alex Solomon, Senior Editor.<br>
        </p>
      </div>
    </div>
  </div>
</div>
