<% if users.size > 0 %>
    <% users.each do |user| %>

        <div class="LizRep">
          <div class="brandsList_90" onclick="closet('<%= user.id %>')">
            <a href="javascript:;">
              <% if user.avatar? && File.exists?(user.avatar.path(:thumb).to_s) %>
                  <%= image_tag user.avatar(:thumb) %>
              <% else %>
                  <%= image_tag "missing_search.png" %>
              <% end %>
            </a>

            <div class="overlay"></div>
          </div>
          <div class="overDet"><h4><%= truncate(user.user_name, :length => 10) %></h4></div>
        </div>
    <% end %>
<% else %>
    <div class="w100">
      <a href="#">
        <div class="inner-h-con p0">
          <div class="pro desk-not-found">Nothing Found.</div>
        </div>
      </a>
    </div>
<% end %>