<div class="delet-popup" id="mainapp_popup" style="display: none">
  <br>
  <br>
  <p id="mainpop_text">ARE YOU SURE YOU WANT TO DELETE THIS ITEM? ANOTHER LINE</p>
</div>

<script>

    function close_me_please() {
        $("#mainapp_popup").hide()
    }
</script>