<header>
  <div class="h-con">
    <div class="user-main-con">
      <div class="h-heading">Feedback</div>
    </div>
    <div class="setaro">
      <a href="javascript:;" onclick="back_to_setting()"><img src="/assets/setting-errow.png" alt=""></a>
    </div>
    <div class="gear">
      <a href="javascript:;" onclick="send_feedback()"><img src="/assets/confirm2.png" alt=""></a>
    </div>
  </div>
</header>
<div class="acc-main-con w_100 padbot100">
  <div class="account-h-con">
    <div class="heading text-tranf-style">Your feedback is important to us.</div>
  </div>
  <div class="w_100">
    <div class="form">
      <textarea type="text" name="reporting_text" id="feedback_text" placeholder="Type here..."></textarea>
    </div>
  </div>
</div>

<script>
    function send_feedback() {
        var feedback = $('#feedback_text').val();
        if (feedback != '') {
            $(".background_shadow").show();
            $.ajax({
                url: '/user/users/feedback?feedback=' + feedback,
                success: function (data) {
                    $("#main_div").html(data)
                    $(".background_shadow").hide();
                }
            });
        }
    }
</script>