<div id="preloader">
  <div id="status">
    <p class="center-text">

      <em></em>
    </p>
  </div>
</div>
<div class="box_in">
  <div class="wrapper">
    <div class="S_fields">
      <div class="fields_in">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <a href="<%= user_omniauth_authorize_path(:facebook) %>">
            <div class="fb_btn">
              <img src="/assets/fb_img.png"><span>SIGN UP WITH FACEBOOK <%#= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></span>
            </div>
            <!--fb_btn--></a>

            <div class="seprator"></div>
            <!--seprator-->
            <div class="fields_txt">
              <%= f.text_field :user_name, :placeholder => "Username" %>
              <%= f.password_field :password, :placeholder => "Password", :id => "password" %>
            </div>
            <!--fields_txt-->
            <a href="javascript:;" onclick="submit_form();">
              <div class="sign_btn"><span>SIGN IN</span></div>
              <!--fb_btn--></a>

            <div class="forgot">
              <a href="/users/password/new">Forgot Password?</a>
            </div>
            <!--forgot-->
            <div class="sign_in"><h6>Don't have an account? <a href="/users/sign_up">SIGN UP</a></h6></div>
            <!--sign_in-->
        <% end %>
      </div>
      <!--fields_in-->
      <div class="close"><a href="/users/sign_up"><img src="/assets/X.png"></a></div>
      <!--close-->
    </div>
    <!--S_fields-->
  </div>
  <!--wrapper-->
</div>
<!--box_in-->

<script type="text/javascript">
    function swapStyleSheet(sheet) {
        document.getElementById('pagestyle').setAttribute('href', sheet);
    }

    function submit_form() {
        $("form").submit();
    }

    $("#password").keyup(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which)
        if (code == 13) {
            $("form").submit();
        }
    });
</script>