<div class="page-content" style="min-height:1215px">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h3 class="page-title">Basic SubCategories</h3>
          <ul class="page-breadcrumb breadcrumb">
            <li>
              <i class="fa fa-home"></i>
              <a href="/">Home</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="/">Basic SubCategories</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <a href="/">New Basic SubCategory</a>
            </li>
            <li class="pull-right">
              <div data-original-title="Change dashboard date range" data-placement="top" class="dashboard-date-range tooltips" id="dashboard-report-range">
                <i class="icon-calendar"></i>
                <span></span>
                <i class="fa fa-angle-down"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <div class="col-md-4">
            <label>Select Category</label>
            <select id="basic_category" class="form-control input-medium select2me" data-placeholder="Select...">
              <option value=""></option>
              <% categories.each do |cat| %>
                  <option value="<%= cat.id %>"><%= cat.name %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 2%;">
          <button class="btn green" onclick="add_new_subcategory();">Add New Basic SubCategory</button>
        </div>
      </div>

      <div id="new_sub_form" class="row" style="margin-top: 2%; display: none;">
        <div class="col-md-6">
          <div class="portlet box grey-cascade">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-comments"></i>New Basic SubCategory
              </div>
              <div class="tools">
                <a class="collapse" href="javascript:;">
                </a>
                <a class="config" data-toggle="modal" href="#portlet-config">
                </a>
                <a class="reload" href="javascript:;">
                </a>
                <a class="remove" href="javascript:;">
                </a>
              </div>
            </div>
            <div id="sub_panel" class="portlet-body">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
    function add_new_subcategory() {
        if ($("#basic_category").val() != "") {
            var category_id = $("#basic_category").val();
            $.ajax({
                url: '/admin/basic_subcategories/new_subcategory?id=' + category_id,
                processData: false,
                success: function (data) {
                    $('#new_sub_form').show();
                    $("#sub_panel").html(data);
                }
            });
        } else {
            apprise("No Category Selected.")
            return false;
        }
    }

    $("#basic_category").select2({
        allowClear: true
    });
</script>

<style>
    body {
        color: #000000
    }
</style>